/* Header styles */
.site-header {
    padding: 1rem;
    background: linear-gradient(to right, var(--bg-gradient1), var(--bg-gradient2));
    position: relative;
    z-index: 100;
    padding: 0;
    @media screen and (min-width: 640px) {
        height: 10rem;
    }
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    max-width: 1440px;
    margin: 0 auto;
}

.site-branding img {
    width: 20rem;
    @media screen and (min-width: 1025px) {
        width: 30rem;
    }
    height: auto;
}

.site-title,
.site-description {
    position: absolute;
    left: -99999px;
}

.main-navigation {
    margin-left: auto; /* Pushes nav to the right */
}
.main-navigation ul{
    display: flex;
    flex-direction: column;
    @media only screen and (min-width: 1024px) {
        margin: 0 4rem 0 0;
        flex-direction: row;
    }
    a{
        padding: 1rem .75rem;
        display: flex;
    }
    li a:hover{
        color: var(--pink-400) !important;
    }
}
/* Primary menu styling */
#primary-menu {
    display: flex;
    gap: 1rem;
    margin: 0;
    padding: 0;
    list-style: none;
    justify-content: end;
    align-items: center;
    margin-right: 2rem;
}

/* Menu Toggle Button */
.menu-toggle {
    display: none; /* Hidden by default on desktop */
    padding: 0.5rem 1rem;
    background: transparent;
    border: 2px solid currentColor;
    border-radius: var(--radius);
    cursor: pointer;
    font-size: 1rem;
}
#site-navigation #primary-menu li{
    margin-bottom: 0;
}
#site-navigation #primary-menu li a{
    font-size: 1.1rem;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--white);
}
/* Responsive styles */
@media screen and (max-width: 1024px) {

    .header-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
    }

    .menu-toggle {
        display: block;
        margin: 1rem 0;
        order: 2;
        cursor: pointer;
        background: none;
        border: none;   
        width: 32px;
        height: 32px;
        top: 20px;
    
    }
    .main-navigation {
        width: 100%;
        order: 3;
    }

    #site-navigation #primary-menu {
        display: none;
        flex-direction: column;
        gap: 1rem;
        width: 100%;
        text-align: center;
        padding: 1rem 0;
        background: var(--bg-gradient1);
    }

    #site-navigation #primary-menu.toggled {
        display: flex;
        position: absolute;
        left: 0;
        right: 0;
        top: 100%;
        z-index: 1000;
        box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    }
    .hamburger-lines {
        display: block;
        height: 42px;
        width: 64px;
        z-index: 3;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        padding: 7px 14px;
        &:hover{
            background-color: transparent !important;
        }
    }

    .hamburger-lines .line {
        display: block;
        height: 4px;
        width: 100%;
        border-radius: var(--radius);
        background-color: var(--white);
    }

    .hamburger-lines .line1 {
        -webkit-transform-origin: 0% 0%;
        -ms-transform-origin: 0% 0%;
        transform-origin: 0% 0%;
        -webkit-transition: -webkit-transform 0.4s ease-in-out;
        transition: -webkit-transform 0.4s ease-in-out;
        -o-transition: transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    }

    .hamburger-lines .line2 {
        -webkit-transition: -webkit-transform 0.2s ease-in-out;
        transition: -webkit-transform 0.2s ease-in-out;
        -o-transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out;
        transition: transform 0.2s ease-in-out, -webkit-transform 0.2s ease-in-out;
    }

    .hamburger-lines .line3 {
        -webkit-transform-origin: 0% 100%;
        -ms-transform-origin: 0% 100%;
        transform-origin: 0% 100%;
        -webkit-transition: -webkit-transform 0.4s ease-in-out;
        transition: -webkit-transform 0.4s ease-in-out;
        -o-transition: transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out;
        transition: transform 0.4s ease-in-out, -webkit-transform 0.4s ease-in-out;
    }

    .hamburger-lines[aria-expanded="true"] .line1 {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    .hamburger-lines[aria-expanded="true"] .line2 {
        -webkit-transform: scaleY(0);
        -ms-transform: scaleY(0);
        transform: scaleY(0);
    }

    .hamburger-lines[aria-expanded="true"] .line3 {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
}
.current_page_item a{
    color: var(--pink-400) !important;
}
.billet{
    background-image: url('../images/billet.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.billet a{
    padding: 2rem !important;
}
.main-navigation ul{
    .billet.current_page_item a,
    .billet a:hover{
            color: var(--pink-200) !important;
        }
    
}
.billet.current_page_item,
.billet:hover{
    rotate: -10deg;
    transition: rotate 0.2s ease-in-out;
}
.navbar-widget-area{
    display: flex;
    align-items: center;
    @media screen and (min-width: 1024px) {
        gap: 1rem;
    }
    flex-direction: row-reverse;
}
.widget_polylang{
    margin-bottom: 0;
}
.widget_polylang ul{
    list-style-type: none;
    display: flex;
    margin-bottom: 0;
    padding: 0;
}
.widget_polylang li{
    margin-bottom: 0;
}
.widget_polylang li:first-child:after{
    content: '|';
    margin-left: .5rem;
    margin-right: .5rem;
}
.widget_polylang a{
    color: var(--white) !important;
    text-decoration: none;
}
.current-lang a{
    color: var(--pink-400) !important;
}